@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Komyca";
	src: local("Pacifico Regular"), local("Pacifico-Regular"), url("../src/assets/fonts/Komyca.ttf") format("truetype");
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer components {
	section {
		@apply md:px-16 px-8 py-20 border-2 dark:border-4 border-black dark:border-r-8 dark:border-b-8;
		background-clip: border-box;
	}

	h1 {
		@apply font-bold text-6xl pb-6;
		font-family: "Yanone Kaffeesatz", sans-serif;
	}
	h2 {
		@apply font-bold text-4xl pb-3;
		font-family: "Yanone Kaffeesatz", sans-serif;
	}
	.logo {
		font-family: "Yanone Kaffeesatz", sans-serif;
	}

	.name {
		/* font-family: "Beyonders", sans-serif; */
		font-family: "Komyca", sans-serif;
	}
	.comic-shadow-light {
		text-shadow: 4px 3px 1px ivory;
	}
	.comic-shadow-dark {
		text-shadow: 4px 3px 1px black;
	}
}
